#header header .header_link {
  padding: 20px 0;
  border-bottom: 1px solid #dedede;
}
#header header .header_link .left {
  margin-right: 30px;
  font-weight: 400;
}
#header header .header_link .left i {
  display: inline-block;
  margin-right: 3px;
}
#header header .header_link .right {
  font-weight: 400;
}
#header header .header_link .searchInput {
  display: flex;
  align-items: center;
  justify-content: right;
}
#header header .header_link .searchInput .select {
  display: inline-block;
  margin-right: 5%;
}
#header header .header_link .searchInput .select select {
  display: inline-block;
  text-transform: uppercase;
}
#header header .header_link .searchInput .select select option {
  background: #5423BB;
}
#header header .header_link .searchInput .input {
  display: inline-block;
  max-width: 240px;
  overflow: hidden;
  position: relative;
}
#header header .header_link .searchInput .input input {
  width: 100%;
  background: #ececec;
  padding: 7px 15px;
  border-radius: 17px;
  text-transform: capitalize;
  line-height: 0;
}
#header header .header_link .searchInput .input input::-moz-placeholder {
  color: #a7a7a7;
}
#header header .header_link .searchInput .input input::placeholder {
  color: #a7a7a7;
}
#header header .header_link .searchInput .input i {
  width: 30px;
  height: 29px;
  border-radius: 50%;
  background: #5423BB;
  display: grid;
  place-items: center;
  line-height: 0;
  font-size: 14px;
  color: #fff;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
#header .navbar {
  padding: 20px 0;
  background: #fff;
  box-shadow: 0 8px 10px -7px #eee;
}
#header .navbar .meBrand {
  width: auto;
}
#header .navbar .mytoggler {
  box-shadow: none !important;
  padding: 0 !important;
  border: none !important;
}
#header .navbar .mycollepse .myul .nav-li .nav-a {
  padding: 20px 0;
  margin-left: 30px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: #40465C;
  letter-spacing: -0.5px;
  position: relative;
}
#header .navbar .mycollepse .myul .nav-li .nav-a:hover {
  color: #5423BB;
}
#header .navbar .mycollepse .myul .nav-li .demos {
  position: relative;
}
#header .navbar .mycollepse .myul .nav-li .demos .newLayer {
  position: absolute;
  left: 0;
  top: 3%;
  display: inline-block;
  background: #d30000;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  padding: 2px 7px;
  z-index: 1;
}
#header .navbar .mycollepse .myul .nav-li .demos::after {
  border-top: 10px solid #d30000;
  border-left: 10px solid #d30000;
  border-bottom: 10px solid rgba(255, 255, 255, 0);
  content: "";
  position: absolute;
  left: 8%;
  top: 5%;
  z-index: 0;
}
#header .navbar .mycollepse .myul .nav-li .dropUL {
  display: none;
}

#banner {
  width: 100%;
  height: 100vh;
  background: #dedede;
}

#we_do {
  padding: 140px 0;
}
#we_do .do_heading {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#we_do .do_heading h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #9ca2a9;
  letter-spacing: 1.8px;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
}
#we_do .do_heading h4::after {
  width: 40%;
  height: 2px;
  background: #5423BB;
  position: absolute;
  content: "";
  left: 50%;
  top: 120%;
  transform: translateX(-50%);
  display: inline-block;
}
#we_do .do_heading h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  color: #000000;
  letter-spacing: -1.8px;
  margin: 6px 0 20px;
  text-transform: capitalize;
}
#we_do .do_heading .pCmn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
#we_do .items {
  padding-top: 30px;
}
#we_do .items .doing_item {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 20px 0 80px 0;
  position: relative;
}
#we_do .items .doing_item .itm_1 {
  max-width: 315px;
}
#we_do .items .doing_item .itm_1 img {
  width: 60px;
}
#we_do .items .doing_item .itm_1 h3 {
  display: block;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  margin: 18px 0;
  text-transform: capitalize;
}
#we_do .items .doing_item .itm_1 p {
  font-size: 14px;
  line-height: 25px;
  color: #99a1aa;
  text-transform: capitalize;
}
#we_do .items .doing_item .itm_2 {
  display: flex;
  align-self: self-end;
}
#we_do .items .doing_item .itm_2 i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #5423BB;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: #fff;
  box-shadow: 0 0 6px 0px #555;
}
#we_do .items .doing_item .doingLayer {
  background: url(../images/cta-hover.jpg) no-repeat center/cover;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all linear 0.3s;
  display: none;
}
#we_do .items .doing_item .doingLayer.active {
  display: flex;
  width: 100%;
}
#we_do .items .doing_item .doingLayer.active .layerSpan1 .imgTxt {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#we_do .items .doing_item .doingLayer.active .layerSpan1 .imgTxt h3 {
  text-transform: capitalize;
  color: #fff;
}
#we_do .items .doing_item .doingLayer.active .layerSpan1 .pLi {
  display: block;
  margin-top: 15px;
  text-align: left;
}
#we_do .items .doing_item .doingLayer.active .layerSpan1 .pLi a {
  color: #fff;
}
#we_do .items .doing_item .doingLayer.active .layerSpan2 {
  padding-top: 10px !important;
}
#we_do .rips_sewed {
  width: 100%;
  margin: 50px 0;
}
#we_do .rips_sewed .rips_slide {
  width: 100%;
}
#we_do .rips_sewed .rips_slide .rips_item {
  position: relative;
  height: 550px;
}
#we_do .rips_sewed .rips_slide .rips_item img {
  height: 100%;
  width: 100%;
}
#we_do .rips_sewed .rips_slide .rips_item .ripsTxt {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #fff, 0%, #dedede, 20%);
  padding: 20px;
}
#we_do .rips_sewed .rips_slide .rips_item .ripsTxt .title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0;
}
#we_do .rips_sewed .rips_slide .rips_item .ripsTxt .title small {
  text-transform: capitalize;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 3px;
}
#we_do .rips_sewed .rips_slide .rips_item .ripsTxt .reebokBtn {
  display: inline-block;
  margin: 20px 0;
}
#we_do .rips_sewed .rips_slide .rips_item .ripsTxt .reebokBtn .we_do_btn_lap {
  display: inline-block;
  text-align: center;
  padding: 10px 40px;
  background: rgba(40, 76, 137, 0.4901960784);
  color: #fff;
  text-transform: capitalize;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
#we_do .rips_sewed .rips_slide .rips_item .ripsTxt .reebokBtn .we_do_btn_lap:hover {
  background: conic-gradient(#e57a7a, #d7e56d, #11585c, #5b339f, #e13ced, #832d59, #17bc22, #056879);
  color: #fff;
  box-shadow: 0 0 10px 1px #dedede;
}

#our_approach .approach_heading {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#our_approach .approach_heading h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #9ca2a9;
  letter-spacing: 1.8px;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
}
#our_approach .approach_heading h4::after {
  width: 40%;
  height: 2px;
  background: #5423BB;
  position: absolute;
  content: "";
  left: 50%;
  top: 120%;
  transform: translateX(-50%);
  display: inline-block;
}
#our_approach .approach_heading h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  color: #000000;
  letter-spacing: -1.8px;
  margin: 6px 0 20px;
  text-transform: capitalize;
}
#our_approach .approach_heading .pCmn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
#our_approach .project_planning {
  margin-top: 50px;
}
#our_approach .project_planning ul {
  padding-left: 0;
}
#our_approach .project_planning ul li {
  padding: 20px 30px;
  border-radius: 5px 5px 0 0;
}
#our_approach .project_planning ul li a {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin-bottom: 15px;
  color: #555;
}
#our_approach .project_planning ul li.active {
  background: #5423BB;
}
#our_approach .project_planning ul li.active a {
  color: #fff;
}
#our_approach .project_planning .wrapperontent {
  background: url(../images/proImg.jpg) no-repeat 100% 100%;
  box-shadow: 0 0 15px #dad8d8;
  padding: 45px 50px 60px;
  overflow: hidden;
  display: none;
}
#our_approach .project_planning .wrapperontent h3 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px;
  text-transform: capitalize;
}
#our_approach .project_planning .wrapperontent p {
  font-size: 14px;
  color: #a0aab5;
  margin-right: 45%;
  margin-bottom: 15px;
}
#our_approach .project_planning .wrapperontent ul {
  padding-left: 0;
}
#our_approach .project_planning .wrapperontent ul .wrapLi {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: #59626c;
  margin: 5px 0;
  padding: 0;
  background: transparent;
}
#our_approach .project_planning .wrapperontent.active {
  display: block;
}
#our_approach .dreamer {
  margin-top: 80px;
}
#our_approach .dreamer .inner {
  background: url(../images/video-bg.jpg) no-repeat center/cover;
  padding: 150px 0;
  text-align: center;
}
#our_approach .dreamer .inner a {
  display: inline-block;
}
#our_approach .dreamer .inner a i {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid #fff;
  display: grid;
  place-items: center;
  font-size: 30px;
  padding-left: 5px;
  color: #fff;
  margin: auto;
}
#our_approach .dreamer .inner h1 {
  margin-top: 20px;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  color: #FFFFFF;
  text-transform: capitalize;
}
#our_approach .dreamer .inner .type {
  margin-top: 60px;
  display: flex;
  gap: 50px;
  justify-content: center;
}
#our_approach .dreamer .inner .type .one {
  display: inline-block;
}
#our_approach .dreamer .inner .type .one a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
}
#our_approach .dreamer .inner .type .one a::before {
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  content: "";
  left: -15px;
  top: 45%;
}
#our_approach .dreamer .inner .type .one a:hover {
  color: #5423BB;
}
#our_approach .dreamer .inner .type .one a:hover::before {
  background: #5423BB;
}
#our_approach .approach_filter {
  margin: 100px 0 50px 0;
}
#our_approach .approach_filter .approach_button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#our_approach .approach_filter .approach_button .filterBtn {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  padding: 0 14px 0 0;
  background: transparent;
  cursor: pointer;
  text-transform: capitalize;
  margin: 0 10px 0 0;
}
#our_approach .approach_filter .approach_button .filterBtn::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 4px;
  width: 2px;
  height: 80%;
  background: #555;
  transform: rotate(22.5deg);
}
#our_approach .approach_filter .approach_button .filterBtn:hover {
  color: #5423BB;
}
#our_approach .approach_filter .approach_button .filterBtn.active {
  color: #5423BB;
}
#our_approach .approach_filter .approach_button .filterBtn:last-child::after {
  display: none;
}
#our_approach .filterItem {
  width: 100%;
  overflow: hidden;
}
#our_approach .filterItem .fillImg {
  position: relative;
}
#our_approach .filterItem .fillImg img {
  width: 120%;
  margin-left: -50px;
  transition: cubic-bezier(0.25, 1.08, 0.83, 1) 0.3s;
}
#our_approach .filterItem .fillImg .itemLayer {
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(73, 46, 195, 0.6862745098);
  transition: all linear 0.4s;
  opacity: 0;
  visibility: hidden;
}
#our_approach .filterItem .fillImg .itemLayer i {
  font-size: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
  display: grid;
  place-items: center;
  margin-left: -100px;
  transition: cubic-bezier(0.25, 1.08, 0.83, 1) 0.5s;
  opacity: 50%;
}
#our_approach .filterItem .filterTxt {
  padding: 20px 0;
}
#our_approach .filterItem .filterTxt h5 {
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 4px;
  color: #031633;
}
#our_approach .filterItem .filterTxt small {
  text-transform: capitalize;
  font-size: 16px;
  color: #99a4b0;
}
#our_approach .filterItem:hover .itemLayer {
  opacity: 1;
  visibility: visible;
}
#our_approach .filterItem:hover .itemLayer i {
  margin-left: 0;
  opacity: 1;
}
#our_approach .filterItem:hover img {
  margin-left: 0;
}
#our_approach .approachBtn {
  display: block;
  margin: 50px 0;
  text-align: center;
}
#our_approach .approachBtn a {
  border: 2px solid #5423BB;
  display: inline-block;
  text-align: center;
  padding: 10px 40px;
  background: rgba(40, 76, 137, 0.4901960784);
  color: #fff;
  text-transform: capitalize;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
#our_approach .approachBtn a:hover {
  background: conic-gradient(#e57a7a, #d7e56d, #11585c, #5b339f, #e13ced, #832d59, #17bc22, #056879);
  color: #fff;
  box-shadow: 0 0 10px 1px #dedede;
}
#our_approach .line {
  width: 100%;
  height: 1px;
  background: #f3f3f3;
}
#our_approach .appMian {
  width: 100%;
  display: block;
  margin: 70px 0;
}
#our_approach .appMian .approachSlider {
  width: 90%;
  display: block;
  margin: auto;
}
#our_approach .appMian .approachSlider .appItem {
  text-align: center;
}
#our_approach .appMian .approachSlider .appItem img {
  width: auto;
  margin: auto;
}
#our_approach .appMian .approachSlider .appItem p {
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  color: #000000;
  margin: 15px 0 0;
}
#our_approach .appMian .approachSlider .appItem .befor {
  width: 150px;
  height: 2px;
  background: #5423BB;
  display: inline-block;
  margin-top: 50px;
}
#our_approach .appMian .approachSlider .appItem .name {
  margin: auto;
}
#our_approach .appMian .approachSlider .appItem .name h5 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 3px;
}
#our_approach .appMian .approachSlider .appItem .name small {
  font-size: 20px;
  font-weight: 400;
  color: #7c8489;
  text-transform: capitalize;
}

.clients {
  width: 100%;
  background: url(../images/video-bg.jpg) no-repeat center/cover;
  background-attachment: fixed;
}
.clients .happyClients i {
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 2px solid #fff;
  display: grid;
  place-items: center;
}
.clients .happyClients .clgroup h1 {
  text-transform: capitalize;
  color: white;
  font-weight: 500;
}
.clients .happyClients .clgroup .happy {
  text-transform: capitalize;
  color: white;
}

#leadership {
  padding: 100px 0;
}
#leadership .leadTitle {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#leadership .leadTitle h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #9ca2a9;
  letter-spacing: 1.8px;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
}
#leadership .leadTitle h4::after {
  width: 40%;
  height: 2px;
  background: #5423BB;
  position: absolute;
  content: "";
  left: 50%;
  top: 120%;
  transform: translateX(-50%);
  display: inline-block;
}
#leadership .leadTitle h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  color: #000000;
  letter-spacing: -1.8px;
  margin: 6px 0 20px;
  text-transform: capitalize;
}
#leadership .leadTitle .pCmn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
#leadership .lid_parent {
  position: relative;
}
#leadership .lid_parent .leadSlider {
  margin-top: 50px;
}
#leadership .lid_parent .leadSlider .col-lg-4 {
  margin: 0 8px;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader {
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader img {
  width: 100%;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader .sIcpon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 2;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader .sIcpon a {
  font-size: 20px;
  color: #fff;
  margin-bottom: -150px;
  opacity: 0;
  visibility: hidden;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader .sIcpon a:nth-child(1) {
  transition: all linear 0.3s;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader .sIcpon a:nth-child(2) {
  transition: all linear 0.4s;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader .sIcpon a:nth-child(3) {
  transition: all linear 0.5s;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader .leaderCover {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 75%;
  background: rgba(40, 76, 137, 0.4901960784);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader .leaderCover h3 {
  text-transform: capitalize;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader .leaderCover h3 a {
  color: #fff;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader .leaderCover h5 {
  text-transform: capitalize;
  color: #fff;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader:hover .leaderCover {
  top: 0;
}
#leadership .lid_parent .leadSlider .col-lg-4 .leader:hover .sIcpon a {
  margin-bottom: 0;
  opacity: 1;
  visibility: visible;
}
#leadership .lid_parent .leadSlider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#leadership .lid_parent .leadSlider .slick-dots li {
  width: 10px;
  height: 10px;
  background: #000;
  margin: 30px 0;
  z-index: 101;
  cursor: pointer;
  transition: 0.3s;
}
#leadership .lid_parent .leadSlider .slick-dots li button {
  display: none;
}
#leadership .lid_parent .leadSlider .slick-dots li.slick-active {
  background: rgba(40, 76, 137, 0.4901960784);
  transform: scale(1.5);
}
#leadership .lid_parent .leadbtn {
  display: flex;
  justify-content: center;
  gap: 180px;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
}
#leadership .lid_parent .leadbtn .leftbtnn {
  padding: 10px;
  display: grid;
  place-items: center;
  background: rgba(40, 76, 137, 0.4901960784);
}
#leadership .lid_parent .leadbtn .leftbtnn i {
  color: #fff;
}

#offices {
  background: url(../images/pattern-bg.jpg) no-repeat center/cover;
  padding: 100px 0;
}
#offices .rowflex {
  display: flex;
  flex-wrap: wrap-reverse;
}
#offices .rowflex .office_title {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-align: right;
}
#offices .rowflex .office_title h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #9ca2a9;
  letter-spacing: 1.8px;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
}
#offices .rowflex .office_title h4::after {
  width: 40%;
  height: 2px;
  background: #5423BB;
  position: absolute;
  content: "";
  left: 50%;
  top: 120%;
  transform: translateX(-50%);
  display: inline-block;
}
#offices .rowflex .office_title h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  color: #000000;
  letter-spacing: -1.8px;
  margin: 6px 0 20px;
  text-transform: capitalize;
}
#offices .rowflex .office_title .pCmn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
#offices .rowflex .office_title .office_btn {
  margin: 50px 0;
}
#offices .rowflex .office_title .office_btn a {
  display: inline-block;
  text-align: center;
  padding: 10px 40px;
  background: rgba(40, 76, 137, 0.4901960784);
  color: #fff;
  text-transform: capitalize;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  background: rgba(40, 76, 137, 0.4901960784);
}
#offices .rowflex .office_title .office_btn a:hover {
  background: conic-gradient(#e57a7a, #d7e56d, #11585c, #5b339f, #e13ced, #832d59, #17bc22, #056879);
  color: #fff;
  box-shadow: 0 0 10px 1px #dedede;
}

#blogs {
  padding: 100px 0;
}
#blogs .blogHeading {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
#blogs .blogHeading h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #9ca2a9;
  letter-spacing: 1.8px;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
}
#blogs .blogHeading h4::after {
  width: 40%;
  height: 2px;
  background: #5423BB;
  position: absolute;
  content: "";
  left: 50%;
  top: 120%;
  transform: translateX(-50%);
  display: inline-block;
}
#blogs .blogHeading h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  color: #000000;
  letter-spacing: -1.8px;
  margin: 6px 0 20px;
  text-transform: capitalize;
}
#blogs .blogHeading .pCmn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
#blogs .blgBtn {
  margin-top: 50px;
  text-align: center;
}
#blogs .blgBtn a {
  display: inline-block;
  text-align: center;
  padding: 10px 40px;
  background: rgba(40, 76, 137, 0.4901960784);
  color: #fff;
  text-transform: capitalize;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
#blogs .blgBtn a:hover {
  background: conic-gradient(#e57a7a, #d7e56d, #11585c, #5b339f, #e13ced, #832d59, #17bc22, #056879);
  color: #fff;
  box-shadow: 0 0 10px 1px #dedede;
}

#newsletter {
  background: url(../images/sign-bg.jpg) no-repeat center/cover;
  background-attachment: fixed;
}
#newsletter .signup {
  padding: 100px 0;
}
#newsletter .signup h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 26px;
}
#newsletter .signup .input {
  display: flex;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
#newsletter .signup .input input {
  width: 100%;
  padding: 10px 20px;
  text-transform: capitalize;
}
#newsletter .signup .input input::-moz-placeholder {
  color: #555;
}
#newsletter .signup .input input::placeholder {
  color: #555;
}
#newsletter .signup .input button {
  display: inline-block;
  text-align: center;
  padding: 10px 40px;
  background: rgba(40, 76, 137, 0.4901960784);
  color: #fff;
  text-transform: capitalize;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 40px;
  font-size: 18px;
  font-weight: 600;
}
#newsletter .signup .input button:hover {
  background: conic-gradient(#e57a7a, #d7e56d, #11585c, #5b339f, #e13ced, #832d59, #17bc22, #056879);
  color: #fff;
  box-shadow: 0 0 10px 1px #dedede;
}
#newsletter .image {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: right;
}
#newsletter .image img {
  position: absolute;
  right: 0;
  bottom: 0;
}

#contact {
  padding: 100px 0;
}
#contact .conttitle {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#contact .conttitle h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #9ca2a9;
  letter-spacing: 1.8px;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
}
#contact .conttitle h4::after {
  width: 40%;
  height: 2px;
  background: #5423BB;
  position: absolute;
  content: "";
  left: 50%;
  top: 120%;
  transform: translateX(-50%);
  display: inline-block;
}
#contact .conttitle h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  color: #000000;
  letter-spacing: -1.8px;
  margin: 6px 0 20px;
  text-transform: capitalize;
}
#contact .conttitle .pCmn {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
#contact .conttitle .contualBtn {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
#contact .conttitle .contualBtn a {
  display: inline-block;
  text-align: center;
  padding: 10px 40px;
  background: rgba(40, 76, 137, 0.4901960784);
  color: #fff;
  text-transform: capitalize;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
#contact .conttitle .contualBtn a:hover {
  background: conic-gradient(#e57a7a, #d7e56d, #11585c, #5b339f, #e13ced, #832d59, #17bc22, #056879);
  color: #fff;
  box-shadow: 0 0 10px 1px #dedede;
}
#contact .mailBox {
  display: block;
  margin-top: 40px;
}
#contact .mailBox .map {
  background: transparent;
}
#contact .mailBox .form h2 {
  text-transform: capitalize;
}
#contact .mailBox .form form input {
  padding: 15px 20px;
  width: 100%;
  text-transform: capitalize;
  margin-top: 20px;
  border-radius: 25px;
  border: 1px solid rgba(40, 76, 137, 0.4901960784);
}
#contact .mailBox .form form input::-moz-placeholder {
  color: #eee;
}
#contact .mailBox .form form input::placeholder {
  color: #eee;
}
#contact .mailBox .form form textarea {
  width: 100%;
  min-height: 150px;
  border: 1px solid rgba(40, 76, 137, 0.4901960784);
  border-radius: 25px;
  margin-top: 20px;
  padding: 20px;
  text-transform: capitalize;
}
#contact .mailBox .form form textarea::-moz-placeholder {
  color: #eee;
}
#contact .mailBox .form form textarea::placeholder {
  color: #eee;
}
#contact .mailBox .form form button {
  display: inline-block;
  text-align: center;
  padding: 10px 40px;
  background: rgba(40, 76, 137, 0.4901960784);
  color: #fff;
  text-transform: capitalize;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  margin-top: 10px;
}
#contact .mailBox .form form button:hover {
  background: conic-gradient(#e57a7a, #d7e56d, #11585c, #5b339f, #e13ced, #832d59, #17bc22, #056879);
  color: #fff;
  box-shadow: 0 0 10px 1px #dedede;
}

footer {
  padding-top: 100px;
  background: rgba(40, 76, 137, 0.4901960784);
}
footer .logo {
  text-transform: capitalize;
  margin-bottom: 20px;
}
footer .logo h3 {
  color: #5423BB;
}
footer .logo ul {
  padding-left: 0;
  margin-top: 20px;
}
footer .logo ul li {
  margin-top: 10px;
}
footer .logo ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #555;
  text-transform: capitalize;
}
footer .logo ul li a i {
  margin-right: 5px;
}
footer .logo .ulBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .logo .ulBox ul {
  margin-top: 0;
}
footer .logo .ulBox ul li .foot-a:hover {
  color: #fff;
}
footer .copyright {
  padding: 20px 0;
  background: #0e0d41;
}
footer .copyright .copy {
  text-transform: capitalize;
  color: #dedede;
}
footer .copyright .socilIconw {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}
footer .copyright .socilIconw i {
  font-size: 20px;
  color: #dedede;
  width: 35px;
  height: 35px;
  border: 1px solid #5423BB;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
footer .copyright .socilIconw i:hover {
  border: 1px solid #fff;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */