#offices{
    background: url(../images/pattern-bg.jpg)no-repeat center/cover;
    padding: 100px 0;
    .rowflex{
        display: flex;
        flex-wrap: wrap-reverse;
        .office_title{
            @include heading;
            text-align: right;
            .office_btn{
                margin: 50px 0;
                a{
                    @include cmnBtn;
                    background: $trpGreen;
                }
            }
        }
    }
}