$deepGreen      :#5423BB;
$trpGreen       :#284c897d;
$grayGreen      :#40465C;
$white          :#fff;
$sadoEEE        :#eee;
$deepRed        :#d30000;
$grayShado      :#dedede;
$a7a7a7         :#a7a7a7;
$shad555        :#555;
$black          :#000000;
$ececec         :#ececec;