@import "../variables/veriable";
@mixin heading{
    display:block;
    margin:0 auto;
    text-align: center;
    h4{
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        color: #9ca2a9;
        letter-spacing: 1.8px;
        display: inline-block;
        text-transform: capitalize;
        position: relative;
        &::after{
            width: 40%;
            height: 2px;
            background: $deepGreen;
            position: absolute;
            content: "";
            left: 50%;
            top: 120%;
            transform: translateX(-50%);
            display: inline-block;
        }
    }
    h2{
        font-size: 42px;
        font-weight: 700;
        line-height: 55px;
        color: #000000;
        letter-spacing: -1.8px;
        margin: 6px 0 20px;
        text-transform: capitalize;
    }
    .pCmn{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }
}
@mixin cmnBtn{
    display: inline-block;
    text-align: center;
    padding: 10px 40px;
    background: $white;
    color:$deepGreen;
    text-transform: capitalize;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    &:hover{
        background: conic-gradient(#e57a7a, #d7e56d, #11585c, #5b339f, #e13ced, #832d59, #17bc22, #056879,);
        color:$white;
        box-shadow: 0 0 10px 1px $grayShado;
    }
}